@import '/vendor/filament/filament/resources/css/theme.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@config 'tailwind.config.js';

:root {
    --green: #5fa35a;
    --lightgreen: #f8fff5;
    --blue: #3FA9F5;
    --dark-blue: #296fa1;
    --orange: #EB5A45;
    --danger: #EB5A45;
    --dark-orange: #c3432f;
    --light-grey: #F2F2F8;
    --shadowgrey: #989898;
    --hyellow: #FFC84F;
  }
body {
    @apply font-montserrat text-sm ;
}

body:has(#surveydash), {
    @apply !bg-gray-100;
}

body:has(#languages),.actionblock, {
    h1 {
        @apply font-extrabold text-5xl;
    }
    h3 {
        @apply font-light text-2xl;
    }
    h2{
        @apply text-black font-bold text-lg }

}
.surveystepshead {
    @apply mx-auto container !grid xl:px-12;
}
.instructionsvid {
    @apply float-right;
}


h1 {
    @apply font-extrabold text-5xl;
}
h2 {
    @apply font-light text-2xl;
}
h3 {
    @apply text-black font-bold text-lg }

.surveyblocks {
    @apply container !bg-white drop-shadow-xl;
}

button {
    @apply font-semibold !text-xs text-white py-2 !px-4 !rounded-full duration-200;
    text-transform: uppercase ;
}
.fi-btn {
    @apply rounded-full uppercase ;
    font-size: 0.75rem;
}

.greensection {
    @apply flex-none bg-green text-white text-xl font-extrabold flex flex-row lg:flex-col lg:w-44 2xl:w-52  lg:h-72 items-center justify-center px-4 py-8 lg:py-0 relative;
}    
.whitesection {
    @apply bg-white px-4 lg:px-0 lg:py-0 lg:py-6 lg:h-72 flex flex-grow w-full lg:w-52 xl:w-64 2xl:w-80;
}
.whitesection h2 {
    @apply !text-base;
}
.whiteborderbox {
    @apply border-b lg:border-b-0 lg:border-r border-gray-300 w-full;
}    
.whitecard {
@apply relative min-w-40  lg:mx-auto text-xs h-full w-full px-4 xl:px-8 flex flex-row flex-grow lg:flex-col py-8 lg:py-0;
h3 {
    @apply text-base;
}
}

.dashdescdiv {
    @apply w-2/4 lg:w-full ml-4 lg:ml-0 ;
}

.dashbuttondiv {
    @apply text-center lg:absolute lg:inset-x-0 lg:bottom-2  w-2/4 pl-20 lg:pl-0 lg:w-full ;
}
.buttona{
    @apply bg-blue font-semibold text-xs text-white py-2 px-4 rounded-full hover-effect duration-200;
    text-transform: uppercase;

}
.buttona:hover {
    @apply shadow-none bg-dark-blue;
}

.buttonb{
    @apply bg-orange font-semibold text-xs text-white py-2 px-4 rounded-full hover-effect duration-200;
    text-transform: uppercase;
}
.buttonb:hover {
    @apply shadow-none bg-dark-orange;
}
.actionblock .buttona,.actionblock .buttonb {
    @apply text-sm;
}
.hover-effect {
    transition: all 0.2s ease-in-out;
}

.hover-effect:hover {
    @apply shadow-lg scale-105;
}

.fi-header-heading {
    @apply text-green font-extrabold text-left text-4xl pt-4;
}

.fi-header-subheading {
    @apply  text-xl;
}

.fi-breadcrumbs {
    @apply text-sm;
}


.rounded-3xl {
    border-radius: 1.5rem;
}
.container {
    display: block;
    justify-content: revert;
    align-items: revert;
    background-color: revert;
    border-bottom: none;
}
.actionblockborder
{
    margin-left: 11rem; 
    margin-right: 5rem; 
    border-color: #bbbbbb; 
    margin-top: 2rem; 
    margin-bottom: 2rem;
}
.actionblock:last-child .actionblockborder
{ 
    border-color: white !important;

}
.completebar {
    @apply h-16 bg-gray-900 text-center fixed  w-screen bottom-0 -left-0 place-content-center;
}

.tabbuttons {
    @apply bg-green text-white;
}
.tabbuttons h3 {
    @apply text-white;
}
.lisptabs:hover {
    @apply bg-green text-white;
    h3 {@apply text-white;}
}
.lispboxinactive {
    @apply bg-gray-50 border-l-4 border-gray-50;
}

.lispboxinactive:hover {
    @apply bg-gray-50 border-l-4 border-green text-green;
}
.lispboxinactive {
    @apply bg-gray-50 border-l-4 border-gray-50;
}

.lispboxselected {
    @apply bg-green border-l-4 border-green  text-white;
}


#globalindicators {
    button {
        width: 8rem;
        span {
            font-size: 0.75rem !important;
                }
            }
    /* div,table,tr,td {
        border-radius: 0%;
        border: none;
        box-shadow: none !important;
    }


    thead {
        display: none;
    }
    .divide-y {
        border: none;
    }
    td.fi-ta-cell {
        border-bottom: 1px solid #dddddd;
    }


    .fi-ta-group-header {
    @apply bg-green border-none mb-1;
    border-radius: 0%;
    border: none;
    h4 {@apply text-white font-bold py-3 ;
    }
    .fi-ta-group-header>.fi-ta-cell{
        @apply bg-green border-none;
        
    }} */
}
/* .fi-ta,div,th,td,table,tbody, tr fi-ta-group-header {
    @apply ring-0 shadow-none;
    --tw-ring-color: transparent;
    border: none !important;
    border-radius: 0px;
        tr fi-ta-group-header{
@apply divide-none;
    }
    thead,.fi-ta-header-cell {
        height: 0px;
        padding: 0px;
    }
} */
.warningbox { 
    @apply bg-orange w-3/4 mx-auto rounded-3xl p-6 text-white;
    a {
        text-transform: uppercase;
        @apply bg-orange border border-white text-white font-semibold duration-200;
    }
    a:hover {
        @apply bg-white text-orange;
    }
}